<footer class="page-footer font-snall bg-secondary footer">
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-12 d-flex justify-content-center"></div>
          <h4 class="text-light text-center">minhas redes sociais</h4>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

          <ul class="social-network">
              <li><a href="https://github.com/ReginaldoCampelo" target="_blank" class="icoGithub" title="Github">
                  <i class="fa-brands fa-github-alt"></i>
                  </a></li>
              <li><a href="https://www.linkedin.com/in/reginaldo-campelo-b66555163/" target="_blank" class="icoLinkedin" title="Lindedin">
                  <i class="fa-brands fa-linkedin-in"></i>
                  </a></li>

              <li><a href="https://api.whatsapp.com/send?phone=5585988424297&text=Ol%C3%A1%20*Reginaldo*%20tudo%20bem%3F%2C%20%0a%0aVenho%20por%20meio%20do%20sistema%20*Finansys*%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es." target="_blank" class="icoWhatsapp" title="Whatsapp">
                  <i class="fa-brands fa-whatsapp"></i>
                  </a></li>
          </ul>
      </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
      <span class="text-light"> &copy; 2022 Copyright: </span>
      <a class="text-light" href="#">Reginaldo Campelo</a>
  </div>

</footer>