<tda-font-aewsome></tda-font-aewsome>
<tda-navbar></tda-navbar>

<section class="container d-flex align-items-center justify-content-center">
  <div class="row w-100">
    <div class="col-12 mb-3">
      <router-outlet></router-outlet>
      <tda-title-header></tda-title-header>
      <hr>
    </div>
    <form class="mb-2" [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" formControlName="description" placeholder="Digite sua tarefa aqui">
        </div>

        <div class="col-md-2">
          <button type="submit" class="btn btn-outline-primary btn-md">
            <i class="fas fa-share"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
          <li *ngFor="let todo of todos"
          class="list-group-item d-flex justify-content-between align-items-center">
            <span class="{{ todo.done ? 'done' : '' }}"><h5>{{ todo.description }}</h5></span>
            <div class="btn-group">
              <button class="btn btn-outline-success" [disabled]="todo.done" (click)="done(todo)">
                <i class="far fa-check-circle"></i>
              </button>
              <button class="btn btn-outline-danger" (click)="delete(todo)">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<tda-footer></tda-footer>


